<!-- Servicios Slider -->
<div class="services_slider_container">
    <div class="owl-carousel owl-theme services_slider">
    {% set items=0 %}
    {% for promotion in promotions %}
        {% if items is same as(0) %}
            <div class="owl-item">
        {% endif %}
        <!-- Promocion -->
        <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
            <div class="service_icon"><div><img src="/assets/themes/beauty/images/{{ promotion.urldesign }}" class="svg" alt="{{ promotion.description }}"></div></div>
            <div class="service_content">
                <div class="service_title trans_200">{{ promotion.description }}</div>
                <div class="service_text trans_200">
                    <p>
                        {{ promotion.content }}
                    </p>
                    <a href="/promocion/{{ promotion.slug }}">La quiero</a>
                </div>
            </div>
        </div>

        {% if items is same as(1) %}
            </div>
            {% set items=0 %}
        {% else %}
            {% set items=items + 1 %}
        {% endif %}

    {% endfor %}
    </div>
</div>
