<!-- Header -->
{% set requri = app.request.get('_route') %}
<header class="header trans_400">
    <div class="header_content d-flex flex-row align-items-center justify-content-center trans_400">
        <!-- Logo -->
        <div class="logo">
            <a href="/">
                <div>Doble <span>RR</span></div>
                <div>peluquería</div>
            </a>
            <div class="hamburger"><div></div><div></div><div></div></div>
        </div>

        <!-- Main Navigation -->
        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li class="{% if requri == 'home' %}active{% endif %}"><a href="/">Inicio<div><div></div><div></div><div></div></div></a></li>
                <li class="{% if requri == 'services' %}active{% endif %}"><a href="{{ path("services") }}">Servicios<div><div></div><div></div><div></div></div></a></li>
                <li class="{% if requri == 'contact' %}active{% endif %}"><a href="{{ path("contact") }}">Contacto<div><div></div><div></div><div></div></div></a></li>
                <li class="{% if requri == 'about-us' %}active{% endif %}"><a href="{{ path("about-us") }}">Doble RR<div><div></div><div></div><div></div></div></a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Menu mobile -->
<div class="menu">
    <nav class="menu_nav">
        <ul class="d-flex flex-column align-items-start justify-content-start">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{{ path("services") }}">Servicios</a></li>
            <li><a href="{{ path("contact") }}">Contacto</a></li>
            <li><a href="{{ path("about-us") }}">Doble RR</a></li>
        </ul>
    </nav>
</div>